* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 600px;
  min-height: 100vh;
  font-family: Arial, Futura, sans-serif;
  font-size: 1rem;
  background-color: #e4e4e4;
  padding: 2rem;
}

p {
  font-size: 1rem;
}

.container {
  margin: auto;
  max-width: 1024px;
  border: black solid 1px;
  display: flex;
  -webkit-box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
  box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
}

.aside-inf {
  padding: 1rem;
  width: 35%;
  color: white;
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.aside-inf>section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 5px solid rebeccapurple; */
  height: 100%;
}

.contact-link {
  color: #a17f19ee;
}

.contact-link:hover {
  color: #599cd3;
}

.rsschool {
  margin-top: 15px;
  text-align: center;
}

.foto-container {
  text-align: center;
  width: 100%;
}

.image {
  width: 100%;
}

.rss {
  width: 30%;
}

.main-inf {
  padding: 0 2rem 0;
  width: 65%;
  color: #171b2c;
  background-color: #ffffff;
  overflow: auto;
}

.code-pattern {
  color: #041562;
  background-color: #e1e1df;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #000000;
  margin-bottom: 25px;
}

/* footer */
.footer {
  margin: 50% auto 0;
  padding: 0;
  width: 70%;
  color: #000000;
}

/* .footer-nav {
  padding: 20px;
} */

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.footer-link li {
  list-style-type: none;
}

.footer-link li a,
.footer-year {
  color: #ecb307ee;
  font-size: 1rem;
}

.footer-link li a:hover {
  color: #599cd3;
}

.footer-year {
  text-align: center;
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}