* {
   box-sizing: border-box;
}

body {
   margin: 0 auto;
   max-width: 1024px;
   min-width: 600px;
   font-family: Arial, Futura, sans-serif;
   font-size: 14px;
   background-color: #e4e4e4;
   padding: 2rem;
}

.container {
   margin: auto;
   max-width: 1024px;
   border: black solid 1px;
   display: flex;
   -webkit-box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
   -moz-box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
   box-shadow: 1px 81px 100px 5px rgba(0, 0, 0, 0.38);
}

.aside-me {
   padding: 1rem;
   width: 30%;
   color: white;
   background-color: #4d4d4d;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
}

.contact-link {
   color: #a17f19ee;
}

.main-me {
   padding: 1rem;
   width: 70%;
   color: #171b2c;
   background-color: #ffffff;
}

.code-me {
   color: #041562;
   background-color: #e1e1df;
}

.about-name {
   font-style: normal;
   font-weight: 700;
   font-size: 45px;
   line-height: 55px;
   color: #000000;
   margin-bottom: 25px;
}

.rsschool {
   margin-top: 40px;
   width: 100%;
   height: 30px;
   background-image: url('../assets/icons/rss.svg');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

/* footer */
.footer-me {
   margin-top: 50px;
   padding: 0;
   width: 200px;
   color: #000000;
   margin: 0 auto;
   /* выравнивание по центру блочного элемента footer-nav*/
}

.footer-nav {
   padding: 20px;
}

.footer-nav-li {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.footer-nav-li li {
   list-style-type: none;
}

.footer-nav-li li a,
.footer-year {
   color: #ecb307ee;
   font-size: 14px;
}

.footer-nav-li li a:hover {
   color: #599cd3;
}

.footer-year {
   /* margin-top: 30px; */
   text-align: center;
}